/* reset */

*, *::before, *::after {
box-sizing: border-box;
}
* {
margin: 0;
padding: 0;
font: inherit;
}
html {
color-scheme: dark light;
}
body {
min-height: 100vh;
}
img, picture, svg, video {
display: block;
max-width: 100%;
}

/* Typography */

/* Layout */

body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  background: #6943ff;
  max-width: 550px;
  text-align: center;
}

.display {
  color: #fff;
  padding: .5em;
}

.display-title {
  font-size: 1.5rem;
  margin: .5em;
  font-weight: bold;
}

.flex {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 auto;
}

.display-input {
  border: 1px solid #B295FF;
  border-radius: 3px;
  background: #6943ff;
  color: #fff;
  margin-bottom: .5em;
  text-align: center;
  padding: .1em 0;
  font-size: 58px;
  font-weight: bold;
  width: 117px;
}

.display-btn:hover {
  background: #f4f4f4;
}

.display-btn {
  margin-bottom: .5em;
  width: 117px;
  background: #fff;
}

.btn {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 0;
  font-size: 0.85rem;
}

.converted-numbers {
  background: #f4f4f4;
  padding: 1.5em;
  font-size: .8rem;
}

.converted-number-section {
  background: #fff;
  padding: 1.5em 1em;
  margin-bottom: 1em;
}

.converted-title {
  font-weight:500;
  font-size: 1.25rem;
}

.converted-number {
  font-size: 1rem;
}